{% extends 'base.html' %} {% block content %}

<h2 class="mb-4">Dashboard</h2>

<div class="row mb-4">
  <div class="col-md-3">
    <a href="/dashboard/" style="text-decoration: none">
      <div class="card bg-primary text-white shadow">
        <div class="card-body">
          <h5>Total Tasks</h5>
          <h2>{{ total }}</h2>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-3">
    <a href="/dashboard/?filter=completed" style="text-decoration: none">
      <div class="card bg-success text-white shadow">
        <div class="card-body">
          <h5>Completed</h5>
          <h2>{{ completed }}</h2>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-3">
    <a href="/dashboard/?filter=pending" style="text-decoration: none">
      <div class="card bg-warning text-dark shadow">
        <div class="card-body">
          <h5>Pending</h5>
          <h2>{{ pending }}</h2>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-3">
    <a href="/dashboard/?filter=overdue" style="text-decoration: none">
      <div class="card bg-danger text-white shadow">
        <div class="card-body">
          <h5>Overdue</h5>
          <h2>{{ overdue }}</h2>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="mt-2">
  <a
    href="/update-status/{{ task.id }}/Pending/"
    class="btn btn-warning btn-sm"
  >
    Pending
  </a>

  <a
    href="/update-status/{{ task.id }}/In Progress/"
    class="btn btn-primary btn-sm"
  >
    In Progress
  </a>

  <a
    href="/update-status/{{ task.id }}/Completed/"
    class="btn btn-success btn-sm"
  >
    Completed
  </a>
</div>

<h3>Tasks</h3>

<div class="row">
  {% for task in tasks %}

  <div class="col-md-6">
    <div class="card shadow mb-4">
      <div class="card-body">
        <h4>{{ task.title }}</h4>

        <p>{{ task.description }}</p>

        <p>
          <strong>Project:</strong>
          {{ task.project.title }}
        </p>

        <p>
          <strong>Assigned To:</strong>
          {{ task.assigned_to.username }}
        </p>

        <p>
          <strong>Status:</strong>

          {% if task.status == 'Pending' %}
          <span class="badge bg-warning text-dark"> Pending </span>

          {% elif task.status == 'In Progress' %}
          <span class="badge bg-primary text-dark"> In Progress </span>

          {% elif task.status == 'Completed' %}
          <span class="badge bg-success"> Completed </span>
          {% endif %}
        </p>

        <p>
          <strong>Due Date:</strong>
          {{ task.due_date }}
        </p>
        <p>
          <strong>Created:</strong>
          {{ task.created_at }}
        </p>
        <a href="/delete-task/{{ task.id }}/" class="btn btn-danger btn-sm">
          Delete
        </a>
      </div>
    </div>
  </div>

  {% empty %}

  <div class="alert alert-info">No tasks available.</div>

  {% endfor %}
</div>

{% endblock %}
